<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hit.ices.yang.mapper.FriendMapper">
    <select id="selectFriendByUid" parameterType="java.lang.Integer" resultType="cn.edu.hit.ices.yang.model.Friend">
        select * from friend where uid=#{userid};
    </select>

    <select id="selectFIdByUid" parameterType="int" resultType="java.lang.Integer">
        select fid from friend where uid=#{userid};
    </select>

    <select id="selectTrustByUid" parameterType="int" resultType="java.lang.Double">
        select trust from friend where uid=#{userid} order by trust;
    </select>

    <select id="selectFriendCountByUid" parameterType="int" resultType="int">
        select count(*) from friend where uid=#{userid};
    </select>

    <select id="selectToPassFriendApplyByUid" parameterType="int" resultType="cn.edu.hit.ices.yang.model.FriendApply">
        select * from friendapply where uid=#{userid} and state='toPass';
    </select>
</mapper>